@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #2A363B;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 95px 1000px;
  gap: 0 1em;
}
.header {
  grid-column: 1/13;
  grid-row: 1/2;
  background: #E84A5F;
  box-shadow: 0px -15px 55px 5px rgba(7, 4, 12, 0.9);
}
.header__nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.header__nav--mwrapper {
  position: absolute;
  z-index: 1;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #FF847C 0%, #E84A5F 100%);
  transition: 0.8s;
}
.header__nav--mwrapper.active {
  left: 0;
}
.header__logo{
  z-index: 2;
  padding: 0.4em 0 0 0;
}
.header__list {
  display: flex;
  list-style-type: none;
  z-index: 2;
}
.header__link {
  text-decoration: none;
  color: #2A363B;
  padding: 0 1em;
}
.header__link:hover{
  color: #FECEA8;
}
@media screen and (max-width: 65em) {
  .header__nav {
    flex-flow: column;
    height: 100vh;
  }
  .header__logo {
    position: fixed;
    left: 1em;
    top: 0;
  }
  .header__list{
    display: none;
    flex-basis: 80%;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
  }
  .header__list.active {
    display: flex;
  }
  .header__link {
    opacity: 0;
    position: relative;
    left: -50%;
    font-size: 1.5em;
    color: #2A363B;
    font-size: 2em;
  }
  .header__link.active {
    opacity: 1;
    transition: 0.75s;
    left: 0;
  }
  .header__nav--btn {
    z-index: 2;
    position: fixed;
    right: 2em;
    top: 1.75em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    cursor: pointer;
    height: 2em;
    width: 2em;
    transition: 0.45s;
  }
  .header__nav--btn span {
    background: #2A363B;
    width: 100%;
    height: 0.25em;
    border-radius: 10px;
  }
  .header__nav--btn.active{
    transform: rotate(-180deg);
  }
  .header__nav--btn.active span:nth-child(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .header__nav--btn.active span:nth-child(2){
    opacity: 0;
  }
  .header__nav--btn.active span:nth-child(3){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}